*{
    font-family: 'Muli', sans-serif;
    text-decoration: none;

}
/*------header-------*/

.navbar-toggler{
 
    border: none;
    color: #035f91;
}

.navbar-toggler-icon{
    font-size: 1.5rem;
    color: #035f91de !important;
}


/*--No he podido cambiar el color al icono
    Si puede me enseña como, muchas gracias!--*/

.nav-link{
    color: #035f91 !important;
    
}
.collapse navbar-collapse{
    width: 50%;
}


/*-----hero-----*/

.hero{
    height: 80vh;
    
    background-image: url(../assets/fondo-imagen.webp);
    background-position: center;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
}
.hero__text h1{
    
    font-size: 3rem;
}
.hero__text h2{
    
    font-size: 1.5rem;
    text-align: center;
}
.hero__text{
    

    background: linear-gradient(to right,#0FA2E3ff,#C4E9F9ff,rgb(11, 77, 116));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

/*------index main-----*/

ul{
    list-style-type: none;
}
h3{
    color:rgb(9, 100, 139)
}    

/*------footer-----*/
.bg_azul{
    background-color:rgb(188, 210, 219)
}
.c_blanco{
    color:rgb(9, 100, 139)
}


/*-----abaut us------*/

.pie__main{

    display: flex;
    height: 100px;
    font-size: 2rem;
    justify-content: center;
    align-items: center;

    margin-bottom: 2rem;

    background: linear-gradient(to right,rgb(17, 69, 92),rgb(11, 77, 116),#C4E9F9ff);
    color:#C4E9F9ff ;
    font-weight: 700;
}



/*------reviews------*/

.card{
    border: solid 2px rgb(17, 69, 92);
    background-color:rgb(226, 236, 240) ;
    margin-top: 2rem;
}
.card:hover{
    color:aliceblue;
    background-color:rgb(17, 69, 92); 
    border: solid 2px rgb(226, 236, 240) ;
}

/*----pricing-----*/

.fondo-imagen{
    background-image:url(../assets/fondo-imagen.webp);
    
}
.container__form{
    
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 10%;
    justify-content: center;
    background-color: rgba(105, 151, 173, 0.63);
    margin: 0 100px;
    padding: 10rem;
    border: 50px solid transparent;
    outline: 1px solid white;
}

.form{
    min-width: 100px;
    flex: 1;
    text-align: center;
}
.form h2{
    color: #004469ff;
    font-family: 'Muli', sans-serif ;

}
.form__input{
    width: 80%;
    padding: .75rem;
    margin: .5rem 0;
    border: none;
    border-bottom: 3px solid rgb(3, 95, 145);
    background-color: #96c4da67;
    font-family:'Muli', sans-serif ;
    font-size: 1rem;
    color: rgb(1, 48, 73);

    
}
.form__section p{
    color: #333;
    font-family:'Muli', sans-serif ;
}
.form__input:focus{
    background-color: rgb(15, 64, 90);
    outline: none;
    background: linear-gradient(to bottom, transparent, #333);
}

.form__input-boton{
    width: 80%;
    padding: .90rem;
    margin: .5rem 0;
    border: none;
    
    background-color:#035f91 ;
    font-family:'Muli', sans-serif ;
    font-size: 1rem;
    color: rgb(1, 48, 73);

}